<div class="col-xs-12">
    <h2>Mes appareils</h2>

    <p>Mis à jour : {{ lastUpdate | async | date: 'medium': undefined : 'fr' | uppercase}}</p>
    
    <ul class="list-group">
        <app-appareil *ngFor="let appareil of appareils; let i = index"
          [indexOfAppareil]="i"
          [appareilName]="appareil.nom"
          [appareilStatus]="appareil.status"
          [id]="appareil.id">
        </app-appareil>
    
    </ul>
       
    <div class="btn-toolbar" style="width: 100%;">
        <button class="btn btn-success" (click)="onAllumer()">
            Tout allumer
        </button>
        <button class="btn btn-danger" (click)="onEteindre()">
            Tout éteindre
        </button>
        <button class="btn btn-primary"
            (click)="onSave()">Enregistrer les appareils
        </button>
        <button class="btn btn-primary"
            (click)="onFetch()">Récupérer les appareils
        </button>
    </div>

</div>




