
<div class="form-group">
    <label for="status">
      Négociants
    </label>
    <div class="btn-toolbar" style="width: 50%;">
      <button class="btn btn-primary" (click)="onSelectionnerNegociants()">
          Tout récupérer
      </button>
    </div>
    <div class="btn-toolbar" style="width: 50%;">
      <button class="btn btn-primary" (click)="onSave()">
          Sauvegarder negociants
      </button>
    </div>
    <ul class="list-group">
        <app-single-negociant *ngFor="let negociant of negociants; let i = index"
          [indexOfNegociant]="i"
          [negociantName]="negociant.negociantName"
          [source]="negociant.source"
          [dateDerniereMAJ]="negociant.dateDerniereMAJ"
          [bSelectionne]="negociant.bSelectionne"
          [id]="negociant.id">
        </app-single-negociant>
    
    </ul>
<!--
    <mat-selection-list #negociant>
      <mat-list-option *ngFor="let negociant of  negociants">
        {{ negociant }}
      </mat-list-option>
    </mat-selection-list>

    <p>
      Options selected: {{ negociants.selectedOptions.selected.length }}
    </p>
-->
</div>